button
{
  text-align: right;
  text-decoration: double;
  text-shadow: 0cap;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-stretch: extra-expanded;
  background-color: blue;
  text-emphasis-color: violet;

}
