.search-form {
  display: flex;
  justify-content: right;
  align-items: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 2px solid #1a3142;
  border-radius: 35px;
  padding: 05px 10px;
}

.search-input {
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
  flex: 1;
}

.search-button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  color: #cccccc;
}

.search-button:hover {
  color: #1f045e;
}


.emp-info{

padding-left: 0%;
display: block;
align-items: right;

}

.image-component{

  padding: right;
  border: #1a3142;
  text-align: end;
  align-content: center;
  image-orientation: flip;
}
